@charset "UTF-8";


@font-face {
    font-family: "SinkinSans100";
    src: url("fonts/SinkinSans-100Thin.otf") format('opentype'), url("fonts/SinkinSans-100ThinItalic.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SinkinSans400";
    src: url("fonts/SinkinSans-400Regular.otf") format('opentype'), url("fonts/SinkinSans-400Italic.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KaushanScript";
    src: url("fonts/KaushanScript-Regular.otf") format('opentype');
    font-weight:normal;
    font-style: normal;
}

@font-face {
font-family: ‘NomeDaFont’;
src: url(‘nomedafont.eot’);
src: url(‘nomedafont?#iefix’) format(‘embedded-opentype’),
url(‘nomedafont.svg#Locaweb-Icons’) format(‘svg’),
url(‘nomedafont.ttf’) format(‘truetype’);
font-weight: normal;
font-style: normal;
}

* { 
    margin: 0; 
    box-sizing:border-box;
}

body { font-size: 100%; }

#pagina > header { 
    width: 100%; 
    height: 160px;
    float: none;
    clear: both;
    border-bottom: 2px solid #666;
}

#pagina > header > #topo #logo {
    float: left;
    margin: 0 20px 0 0;
    width: 200px;
    height: 120px;
    overflow: hidden;
}

#pagina > header > #topo #titulos {
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    overflow: hidden;
}

#pagina > header > #topo #citacao {
    font-family: KaushanScript, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.70rem;
    font-style: italic;
    color: #fef5f5;
    float: right;
    padding: 12px;
    margin: 0 0 0 20px;
    height: 120px;
    width: 250px;
    overflow: hidden;
}

#pagina > header > #topo #citacao > cite {
    line-height: 150%;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1.5pt;
}

#pagina > header > #topo #citacao > cite .aspas {
    font-size: 1.75em;
    font-weight: bold;
    font-style: italic;
    line-break:normal;
}

#pagina > header > #topo #citacao > p {
    text-align: right;
}

#pagina > header > #topo {
    width: 100%;
    float: none;
    clear: both;
    display: block;
    height: 120px;
    background: #696969;
}

#pagina > header > #menu-principal { 
    height: 40px;
    width: 100%;
    padding: 0;
    float: none;
    clear: both;
}

#pagina > header > #menu-principal nav ul {
    padding:0;
	margin:0;
	background-color:#606060;
	list-style:none;
    padding: 3px 8px;
}

#pagina > header > #menu-principal nav ul li {
    display: inline;
    height: 30px;
    padding: 3px 8px;
    margin: 2px;
}